page-home {
    ion-content {       
        #map
        {               
            width: 100%;              
            height:200px;           
        }       
    }

    img{
        width: auto;
        margin: auto;
      }

      ion-navbar{
          height: 90px;
      }
}